@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 90%;
  margin: 0 auto;
}
/* its only important because im using tailwind for my components and the library atttaches a disabled class when disabling instead of setting disabled attribute */

#buttonPrev {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(224, 224, 224, 0.0253499) 7.4%,
    rgba(74, 73, 73, 0.15) 100%
  );
}
#buttonNext {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(224, 224, 224, 0.0253499) 7.4%,
    rgba(74, 73, 73, 0.15) 100%
  );
}
#buttonNext.disabled {
  display: none;
}
#buttonPrev.disabled {
  display: none;
}

#buttonNext:hover {
  @apply bg-text-300 bg-opacity-50;
}

#buttonPrev:hover {
  @apply bg-text-300 bg-opacity-50;
}

.glider {
  height: 100%;
  width: 100%;
  overflow-y: unset;
  overflow-x: hidden;
}
.glider-contain {
  height: 100%;
  max-height: 100%;
  width: 100%;
}
.glider-track {
  height: 100%;

  align-items: center;
  background-color: #eaeaea4d;
  display: flex;
  flex-wrap: nowrap;
  margin-inline: auto;
  align-items: stretch;
}
--current-selected {
  border: 3px solid magenta;
}
