@tailwind base;
@tailwind components;
@tailwind utilities;
/* animate-bounce */

.appearAnimation {
  @apply animate-modalShowAnimation;
  animation-fill-mode: forwards;
}
.filterAppearAnimation {
  @apply animate-filterModalShowAnimation;
  animation-fill-mode: forwards;
}
.filterDisappearAnimation {
  @apply animate-filterModalDisappearAnimation;
  animation-fill-mode: none;
}
.navAppearAnimation {
  @apply animate-navModalShowAnimation;
  animation-fill-mode: forwards;
}
.navDisappearAnimation {
  @apply animate-navModalDisappearAnimation;
  animation-fill-mode: none;
}

.disappearAnimation {
  @apply animate-modalDisappearAnimation;
  animation-fill-mode: none;
}
